* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  background: #312e2b;
}

/* ----------------------- */

.chess-table {
  height: 400px;
  width: 400px;
  display: flex;
}

.piece-box {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .piece {
  width: 40px;
  height: 40px;
} */

/* --------------------------------- */

.piece-box.white-box {
  background: #eeeed2;
}

.piece-box.black-box {
  background: #769656;
}

/* --------------------------------- */

@media only screen and (min-device-width: 320px) and (min-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .chess-table {
    height: 240px;
    width: 240px;
  }

  .piece-box {
    width: 30px;
    height: 30px;
  }
}
